html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

#left {
  display: grid;
  grid-template-rows: auto 2fr 1fr;
}

#right {
  display: grid;
  grid-template-rows: auto auto repeat(3, 1fr);
  justify-content: center;
}

h1 {
  padding-left: 10px;
}

.legend {
  line-height: 18px;
  color: #555;
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  border-radius: 10px;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.map-info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.map-info h4 {
  margin: 0 0 5px;
  color: #777;
}
